<div class="game-announcements twelve columns">
  {{#if hasTied}}
    <div>Tie Game!</div>
    <div>{{randomTiedText}}</div>
  {{/if}}

  {{#if hasComputerWon}}
    <div>Computer Wins!</div>
    <div>{{randomLostText}}</div>
  {{/if}}
</div>

<div class="holder">
  {{#each rows as |row|}}
    {{#each columns as |column|}}
    <div class="tile {{row}} {{column}}" {{action "takeTurn" row column}} {{action "takeTurn" row column on="touchEnd"}}>
        <div class="tile-content"></div>
      </div>
    {{/each}}
  {{/each}}
</div>

<div class="game-choices twelve columns">
  {{#if hasGameStarted}}
    <button {{action "reset"}}>Start Over</button>
  {{else}}
    <span class="twelve columns">Who goes first?</span>
    <p class="six columns" {{action "startGame" "computer"}}>
      {{inline-svg "assets/fonts/technology.svg" class="computer"}}
    </p>
    <p class="six columns" {{action "startGame" "human"}}>
      {{inline-svg "assets/fonts/black.svg" class="human"}}
    </p>
  {{/if}}
</div>
