<div class="holder">

  {{#each rows as |row|}}
    {{#each columns as |column|}}
      <div class="tile {{row}} {{column}}" {{action "takeTurn" row column}}>
        <div class="tile-content">
          <i class="fa"></i>
        </div>
      </div>
    {{/each}}
  {{/each}}
</div>

{{#if hasGameStarted}}
  <button {{action "reset"}}>Start Over</button>
{{else}}
  <span>Who goes first?</span>
  <span {{action "startGame" "computer"}}>Computer</span>
  <span {{action "startGame" "human"}}>Human</span>
{{/if}}

{{#if hasTied}}
  <span>Tie Game!</span>
  <span>{{randomTiedText}}</span>
{{/if}}

{{#if hasComputerWon}}
  <span>Computer Wins!</span>
  <span>{{randomLostText}}</span>
{{/if}}
