<div class="holder">

      <div class="tile top left">
        <div class="tile-content">
          {{fa-icon "star" classNames="marker"}}
        </div>
      </div>
      <div class="tile top middle">
        <div class="tile-content">
          {{fa-icon "star" classNames="marker"}}
        </div>
      </div>
      <div class="tile top right">
        <div class="tile-content">
          {{fa-icon "star" classNames="marker"}}
        </div>
      </div>

      <div class="tile left">
        <div class="tile-content">
          {{fa-icon "star" classNames="marker"}}
        </div>
      </div>
      <div class="tile middle">
        <div class="tile-content">
          {{fa-icon "star" classNames="marker"}}
        </div>
      </div>
      <div class="tile right">
        <div class="tile-content">
          {{fa-icon "star" classNames="marker"}}
        </div>
      </div>

      <div class="tile bottom left">
        <div class="tile-content">
          {{fa-icon "star" classNames="marker"}}
        </div>
      </div>
      <div class="tile bottom middle">
        <div class="tile-content">
          {{fa-icon "star" classNames="marker"}}
        </div>
      </div>
      <div class="tile bottom right">
        <div class="tile-content">
          {{fa-icon "star" classNames="marker"}}
        </div>
      </div>

</div>
